<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Lista de Bandas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Listado de bandas</h1>
    <br>
    <a class="btn btn-primary" href="#" th:href="@{/band/new}">Crear Banda</a>

    <br> <br>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Cantidad Miembros</th>
            <th>Pais Origen</th>
            <th>Año creacion</th>
            <th>Resumen</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${bands}">
            <td th:text="${data.id}">Codigo</td>
            <td th:text="${data.name}">Nombre</td>
            <td th:text="${data.genre}">Genero</td>
            <td th:text="${data.members}">Cantidad Miembros</td>
            <td th:text="${data.country}">Pais Origen</td>
            <td th:text="${data.year}">Año creacion</td>
            <td th:text="${data.description}">Resumen</td>


        </tr>
        </tbody>
    </table>
</div>

</body>
</html>